body {
  background-color: #010509;
}

button {
  outline: none;
  transition: all 0.4s ease;
}

button:hover {
  cursor: pointer;
  border: 1px solid whitesmoke;
}

.Header {
  position: sticky;
  top: 0;
  display: flex;
  background-color: #020a13;
  justify-content: space-evenly;
  padding: 15px 0 10px 0;
  width: 100%;
  height: 45px;
  z-index: 999;
}

.balance__left {
  display: flex;
}

.balance__left > button {
  width: 110px;
  height: 40px;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: 550;
  background: linear-gradient(135deg, #73DF7E 0%, #0085FF 100%);
}

.button__right {
  display: flex;
  justify-content: space-evenly;
}

.button__right > button {
  margin-right: 20px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: 550;
  background: linear-gradient(135deg, #73DF7E 0%, #0085FF 100%);
}

.button__disconnect {
  background: linear-gradient(135deg, #F00BA2 0%, #FF9900 100%) !important;
}

.main__body {
  margin-top: 15%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.main__body > p {
  font-size: 30px;
  color: #fff;
  font-weight: 550;
}